*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/bin
/captures
/logs
!/src/main/java/
/src/main/java/*
!/src/main/java/java24
!/src/main/resources/
/src/main/resources/*
!/src/main/resources/*.xml
!/src/main/resources/*.properties
!/src/main/resources/java24/
/src/test/java/*
!/src/test/java/java24
/.classpath
/.project
/.settings
/gradlew.bat
/jcurses-0.9.5.3.jar
/settings.gradle
/gradlew
/gradle
